* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto';
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

#mainHeader {
    min-width: 100%;
    position: fixed;
    z-index: 10;
    background-color: #ccc;
}

#mainContent {
    padding-top: 80px;
}

.section {
    background-color: #ddd;
    border-radius: 6px;
    font-size: 16px;
    padding: 5px;
    overflow-y: auto;
}

    .section .half-section {
        display: flex;
        padding: 5px;
        margin: 2px;
        border: 1px solid #ccc;
        min-height: 100%;
        background-color: #eee;
        align-items:stretch;
    }
    .half-section form{
        width: 100%
    }

    .section .pdfHolder {
        display: flex;
        border: 1px dashed #ccc;
        min-height: 100%;
        width: 100%;
    }

    .section label {
        margin: 0px;
    }

    .section .form-group {
        margin: 5px 0;
    }

        .section .form-group span {
            font-size: 14px;
        }
