* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto';
    height: 100%;
    background-color: black;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*---- Секции и контейнеры ----*/
#header {
    min-width: 100%;
    z-index: 10;
    padding: 5px;
}

#main {
    padding: 5px;
}

.mainContainer {
    width: 100%;
}

@media (min-width: 1200px) {
    .mainContainer {
        width: 80%;
    }
}

/*---- Логотип ----*/
.navLogo {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #888;
}

    .navLogo .logoLeft {
        color: #c7e571;
    }

    .navLogo .logoRight {
        background: #c7e571;
        border-radius: 5px;
        padding: 5px;
        color: #335;
        margin-left: -12px;
    }

/*---- Главное меню ----*/

#header .nav-link {
    padding: 10px 20px;
}

    #header .nav-link:hover {
        background-color: #666;
    }


/*---- Панели Главной страницы ----*/
.section {
    color: #aaa;
    height: 91vh;
    position: relative;
}

.panel {
    background-color: #343a40;
    box-shadow: 0px -1px 1px #666, 1px -1px 1px #555;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    position: relative;
}

.sidebar-left {
    margin-right: 10px;
    height: 100%;
}

.sidebar-left-top {
    height: 20%;
    padding-bottom: 5px;
}

.sidebar-left-bottom {
    height: 80%;
    padding-top: 5px;
}

.sidebar-right {
    margin-left: 10px;
    height: 100%
}

/*---- Страница каталога свидетельств ----*/

.treeView {
    height: 100%;
    list-style: none;
    font-size: 16px;
    background-color: #eee;
    border-radius: 3px;
    border: double;
}

    .treeView li {
        background: url('../img/sprites2.png') 2px -208px no-repeat;
        background-position: 2px -384px;
        position: relative;
        padding-left: 16px;
    }

        .treeView li a:hover {
            background-color: #ddd;
        }

    .treeView > li:last-child {
        background-position: -90px -113px;
    }

        .treeView > li:last-child.lastExpandable {
            background-position: -122px -69px;
        }

.hitarea {
    background: url('../img/sprites2.png') -154px -26px no-repeat;
    color: #000;
    text-align: center;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}

.expandable-hitarea {
    background-position: -170px -4px;
}

.treeView > li:last-child > .hitarea {
    background-position: -90px -113px;
}

.treeView > li:last-child > .expandable-hitarea {
    background-position: -122px -69px;
}

.treeView ul {
    transition: all ease-in 0.1s;
    list-style: none;
    font-size: 14px;
    background-color: #eee;
}

    .treeView ul li {
        background: transparent;
    }

        .treeView ul li:hover {
            background-color: #ddd;
        }

.treeView a {
    color: #000;
    display: block;
    width: 100%;
    text-decoration: none;
}

span.folder,
span.file {
    display: block;
    padding-left: 20px;
    cursor: pointer;
}

span.folder {
    background: url('../img/sprites2.png') -25px -187px no-repeat;
}

span.opened {
    background: url('../img/sprites2.png') -68px -148px no-repeat;
}

span.file {
    background: url('../img/sprites2.png') -48px -167px no-repeat;
}

.customTable{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*---- Страница Создать Новый документ ----*/
#newDocumentSection {
    color: #000;
    height: 100%;
}

.sectionHeader {
    padding: 10px 0 25px 0px;
    display: flex;
    flex-direction: row;
}

    .sectionHeader .sectionHeading {
        line-height: 1.6;
        font-weight: bold;
        margin: 0;
        flex-grow: 1;
        vertical-align: middle;
    }

.half-section form {
    width: 100%
}

.inputFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.pdfHolder {
    display: flex;
    border: 1px dashed #ccc;
    width: 100%;
    height: 100%;
}

/*---- страница авторизации ----*/

.validationSummary ul {
    list-style: none;
}


/*.section label {
    margin: 0px;
}

.section .form-group {
    margin: 5px 0;
}

    .section .form-group span {
        font-size: 14px;
    }

.section input:focus {
    border-color: #ccc;
    box-shadow: 0px 0px 4px #111;
}*/
/*-----Fix select2 resizing bug------*/
.select2 {
    width: 100% !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
