* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    font-family: 'Roboto';
    height: 100%;
    background-color: black;
}

a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/*---- Логотип ----*/
.navLogo {
    font-family: 'Roboto Mono';
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 2px 2px 4px #888;
}

    .navLogo .logoLeft {
        color: #c7e571;
    }

    .navLogo .logoRight {
        background: #c7e571;
        border-radius: 5px;
        padding: 5px;
        color: #335;
        margin-left: -12px;
    }

/*---- Секции и контейнеры ----*/
#header {
    min-width: 100%;
    z-index: 10;
    padding: 5px;
}

    #header nav {
        box-shadow: 0px -1px 1px #666, 1px -1px 1px #555;
        border-radius: 4px;
    }

#main {
    padding: 5px;
}



/*---- Панели Главной страницы ----*/
.section {
    color: #aaa;
    height: 91vh;
    position: relative;
}

.sidebar, .main-content {
    background-color: #343a40;
    box-shadow: 0px -1px 1px #666, 1px -1px 1px #555;
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    position:relative;
}

.sidebar-left {
    margin-right: 5px;
    height: 100%;
}

.sidebar-left-top {
    height: 10%;
    padding-bottom: 5px;
}

.sidebar-left-bottom {
    height: 90%;
    padding-top: 5px;
}

.sidebar-right {
    margin-left: 5px;
    height: 100%
}


/*---- Страница Создать Новый документ ----*/

#newDocumentSection{
    color: #000;
    background-color: #ddd;
}






.sectionHeader {
    padding: 5px 0;
}

    .sectionHeader .headingCustom {
        line-height: 1.6;
        font-weight: bold;
        margin: 0;
        padding: 0 0px;
        flex-grow: 1;
        vertical-align: middle;
    }

.half-section form {
    width: 100%
}

.pdfHolder {
    display: flex;
    border: 1px dashed #ccc;   
    width: 100%;
    height:100%;
}

.section label {
    margin: 0px;
}

.section .form-group {
    margin: 5px 0;
}

    .section .form-group span {
        font-size: 14px;
    }

.section input:focus {
    border-color: #ccc;
    box-shadow: 0px 0px 4px #111;
}

/*-----Fix select2 resizing bug------*/
.select2 {
    width: 100% !important;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}
