
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>Доступ запрещен.</h1>
<h5>К сожалению, ваш текущий уровень допуска не позволяет получить доступ к этой странице.</h5>
<h5>Обратитесь к администратору приложения для получения соответствующих прав.</h5>
