@model NewDocumentModel
@using CertificateManagementSystem.Services.Components

<div class="sectionHeader bg-dark">
    @if (Model.DocumentType == DocumentType.Certificate)
    {
        <h4 class="text-center text-light p-2">Новое свидетельство</h4>
    }
    else
    {
        <h4 class="text-center text-light p-2">Новое извещение о непригодности</h4>
    }
</div>

<div class="row section no-gutters">
    <div class="col-md-6">
        <div class="half-section shadow">
            <form method="post" asp-action="Create" id="newDocumentForm">
                <div class="form-group">
                    <label asp-for="Year">Год</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="Year" />
                    <span class="text-danger" asp-validation-for="Year"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContractNumber">Номер договора</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="ContractNumber" id="inputContractNumber" onchange="SetClient()"/>
                    <span class="text-danger" asp-validation-for="ContractNumber"></span>
                </div>

                <div class="form-group">
                    <label asp-for="RegistrationNumber">Номер в гос.реестре</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="RegistrationNumber" />
                    <span class="text-danger" asp-validation-for="RegistrationNumber"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VerificationMethodic">Методика поверки</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="VerificationMethodic" />
                    <span class="text-danger" asp-validation-for="VerificationMethodic"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ClientName">Эксплуатирующая организация</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="ClientName" id="inputClient"/>
                    <span class="text-danger" asp-validation-for="ClientName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExploitationPlace">Место эксплуатации</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="ExploitationPlace" id="inputExploitationPlace"/>
                    <span class="text-danger" asp-validation-for="ExploitationPlace"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DeviceType">Группа СИ</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="DeviceType" />
                    <span class="text-danger" asp-validation-for="DeviceType"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeviceName">Наименование СИ</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="DeviceName" />
                    <span class="text-danger" asp-validation-for="DeviceName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SerialNumber">Заводской номер СИ</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="SerialNumber" />
                    <span class="text-danger" asp-validation-for="SerialNumber"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DocumentNumber">Номер документа</label>
                    <input class="form-control form-control-sm shadow-sm" asp-for="DocumentNumber" />
                    <span class="text-danger" asp-validation-for="DocumentNumber"></span>
                </div>

                @if (Model.DocumentType == DocumentType.Certificate)
                {
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label asp-for="CalibrationDate">Дата поверки</label>
                            <input type="date" class="form-control form-control-sm shadow-sm" asp-for="CalibrationDate" />
                            <span class="text-danger" asp-validation-for="CalibrationDate"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="CalibrationExpireDate">Дата окончания срока поверки</label>
                            <input type="date" class="form-control form-control-sm shadow-sm" asp-for="CalibrationExpireDate" />
                            <span class="text-danger" asp-validation-for="CalibrationExpireDate"></span>
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="DocumentDate">Дата оформления документа</label>
                        <input type="date" class="form-control form-control-sm shadow-sm" asp-for="DocumentDate" />
                        <span class="text-danger" asp-validation-for="DocumentDate"></span>
                    </div>
                }
                <input type="hidden" asp-for="DocumentType" />
                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="half-section">
            <iframe class="pdfHolder" src="file://d:/Stuff/PassportZ.pdf" frameborder="0">
            </iframe>
        </div>
    </div>
</div>
<div class="row justify-content-center p-2">
    <button class="btn btn-success mb-1" type="submit" form="newDocumentForm">Добавить</button>
</div>

