<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MetrologyApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/datatables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="~/css/fonts.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container-fluid">
        <!--Главное меню-->
        <header id="header">

            <div class="row no-gutters panel-2 p-0 mainMenuBar">

                <div class="col d-flex">
                    <nav class="navbar navbar-expand-md w-100 navbar-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <a class="navbar-brand navLogo" asp-controller="Home" asp-action="Index">
                            <span class="logoLeft">Metrology</span>
                            <span class="logoRight">App</span>
                        </a>

                        <div class="collapse navbar-collapse ">
                            <ul class="navbar-nav flex-grow-1">
                               
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Новый документ</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-controller="Document" asp-action="Create" asp-route-type="Certificate">Свидетельство</a>
                                        <a class="dropdown-item" asp-controller="Document" asp-action="Create" asp-route-type="FailureNotification">Извещение о непригодности</a>
                                    </div>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Document" asp-action="Index">
                                        Каталог
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Search" asp-action="Index">
                                        Поиск
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Settings" asp-action="Index">
                                        Настройки
                                    </a>
                                </li>
                            </ul>
                            <partial name="_SearchBar" model="new SearchModel()" />

                            <partial name="_UserLogin" />

                        </div>
                    </nav>
                </div>
            </div>

        </header>

        <!--Основной контент-->
        <main id="main">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" charset="utf8" src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
