@model CertificateManagementSystem.Models.Search.SearchModel


<div class="search-bar">
    <form class="">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">

                </div>
            </div>
            <input class="form-control" type="search" autocomplete="off" asp-for="SearchQuery" />
            <div class="input-group-append">
                <div class="input-group-text" id="search-bar-settings">
                </div>
            </div>
        </div>
        <div class="search-bar-filter">
            <div class="form-group">

                <h6 class="">Область поиска:</h6>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" id="select-all-checkbox"/>
                        везде
                    </label>
                </div>
                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        номер договора
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        номер документа
                    </label>
                </div>
                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        эксплуатирующая организация
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        место эксплуатации
                    </label>
                </div>

                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        номер в гос.реестре
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        методика поверки
                    </label>
                </div>

                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        группа СИ
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        название СИ
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        заводской номер СИ
                    </label>
                </div>

                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        дата поверки
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        дата окончания поверки
                    </label>
                </div>

                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        дата документа
                    </label>
                </div>

                <hr />
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" />
                        тип документа
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

