@inject Microsoft.AspNetCore.Identity.SignInManager<CertificateManagementSystem.Data.Models.ApplicationUser> SiginInManager
@inject Microsoft.AspNetCore.Identity.UserManager<CertificateManagementSystem.Data.Models.ApplicationUser> UserManager

<div id="userMenu">
    @if (SiginInManager.IsSignedIn(User))
    {
        var user = UserManager.GetUserAsync(User).Result;
        var role = UserManager.GetRolesAsync(user).Result.FirstOrDefault();
        string displayedRole;
        switch (role)
        {
            case "Admin":
                displayedRole = "Администратор";
                break;
            case "Metrologist":
                displayedRole = "Метролог";
                break;
            case "Specialist":
                displayedRole = "Сотрудник ТОиС";
                break;
            case "User":
                displayedRole = "Пользователь";
                break;
            default:
                displayedRole = "Пользователь";
                break;
        }

        <div class="dropdown">
            <a class="btn" href="#" data-toggle="dropdown">
                <div>
                    <div id="username" class="dropdown-toggle">@user.FullName</div>
                    <div id="role">(@displayedRole)</div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">Выход</a>
            </div>
        </div>

    }
    else
    {
        <a class="btn" asp-controller="Account" asp-action="Login">
            <div>
                <div id="username">Гость</div>
                <div id="role">(Пользователь)</div>
            </div>
        </a>
    }
</div>
