@model SearchResultModel

<!-- Модальное окно -->
<div class="modal fade" role="dialog" id="document-preview-modal">
    <div class="modal-dialog modal-dialog-centered" role="document"></div>
</div>

<form asp-action="Find" asp-controller="Search">
    <div class="container-fluid h-100">
        <div class="row section ">
            <div class="col-md-2 mh-100">
                <div class="search-filter-bar">
                    <h5>Настройки поиска:</h5>
                    <p>Область поиска:</p>

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsYear" />
                            год заключения договора
                        </label>
                    </div>
                    <div class="form-check form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsContractNumber" />
                            номер договора
                        </label>
                    </div>
                    <hr />

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsDocumentNumber" />
                            номер документа
                        </label>
                    </div>
                    <div class="form-check form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsDocumentType" />
                            тип документа
                        </label>
                    </div>
                    <hr />

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsClientName" />
                            эксплуатирующая организация
                        </label>
                    </div>
                    <div class="form-check form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsExploitationPlace" />
                            место эксплуатации
                        </label>
                    </div>
                    <hr />

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsRegisterNumber" />
                            номер в гос.реестре
                        </label>
                    </div>
                    <div class="form-check form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsVerificationMethodic" />
                            методика поверки
                        </label>
                    </div>
                    <hr />

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsDeviceType" />
                            группа СИ
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsDeviceName" />
                            название СИ
                        </label>
                    </div>
                    <div class="form-check form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsSerialNumber" />
                            заводской номер СИ
                        </label>
                    </div>
                    <hr />

                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsCalibrationDate" />
                            дата поверки
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsCalibrationExpireDate" />
                            дата окончания поверки
                        </label>
                    </div>
                    <div class="form-check form-group">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" asp-for="SearchModel.IsDocumentDate" />
                            дата документа
                        </label>
                    </div>

                </div>
            </div>

            <div class="col-md-10 bg-light">
                <div class="search-header">

                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" type="text" asp-for="SearchModel.SearchQuery" placeholder="Найти..." />
                            <div class="input-group-append">
                                <button type="submit" class="input-group-text">
                                    <img src="~/icons/icons8_search_24px.png" />
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="">
                    <h5>
                        Результаты поиска:
                        @if (Model.SearchResults != null)
                        {
                            @Model.SearchResults.Count() @:документов
                        }
                    </h5>
                    @if (Model.SearchResults != null)
                    {
                        <partial name="_SearchResult" model="@Model.SearchResults" />
                    }
                </div>

            </div>
        </div>
    </div>
</form>
@section Scripts
{
    <script>
        $('#documents-table').DataTable({
            paging: false,
            searching: false,
            info: false,
            scrollY: '65.5vh',
            scrollX: true
        });

    </script>
}
